<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>Life Overseas - Faculty</title>


  <!-- css -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/data.css')}} " media="screen">
  <link rel="stylesheet" href="{{url_for('static',filename='css/Life-Overseas---Faculty.css')}} " media="screen">
  <link rel="stylesheet" href="{{url_for('static',filename='css/QnA-Faculty.css')}} " media="screen">


  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180"
    href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32"
    href="{{ url_for('static', filename='images/favicon/favicon-32x32.pn') }}">
  <link rel="icon" type="image/png" sizes="16x16"
    href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}">


  <!-- script and googlefonts -->
  <script class="u-script" type="text/javascript" src="{{url_for('static',filename='js/jquery.js')}}" "="" defer=""></script>
    <script class=" u-script" type="text/javascript" src="{{url_for('static',filename='js/data.js')}}" "="" defer=""></script>
    <link id=" u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Life Overseas",
		"logo": "{{url_for('static',filename='images/825406866-0.png')}} ",
		"sameAs": []
}</script>
  <meta name="theme-color" content="#8aa6c1">
  <meta property="og:title" content="Life Overseas - Faculty">
  <meta property="og:description" content="">
  <meta property="og:type" content="website">
</head>

<body class="u-body u-xl-mode" data-lang="en">
  <header class="u-black u-clearfix u-header u-sticky u-sticky-6236 u-header" id="sec-ce63">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="{{url_for('main.index')}}" class="u-image u-logo u-image-1" data-image-width="1000"
        data-image-height="1000">
        <img src="{{url_for('static',filename='images/825406866-0.png')}} " class="u-logo-image u-logo-image-1">
      </a>
      <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
          <a
            class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white">
            <svg class="u-svg-link" viewBox="0 0 24 24">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
            </svg>
            <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
              xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
              <g>
                <rect y="1" width="16" height="2"></rect>
                <rect y="7" width="16" height="2"></rect>
                <rect y="13" width="16" height="2"></rect>
              </g>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-unstyled u-nav-1">
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-palette-2-light-1 u-text-white"
                href="{{url_for('main.index')}}" style="padding: 10px 20px;">Home</a>
            </li>
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-palette-2-light-1 u-text-white"
                href="{{url_for('main.faculty')}}" style="padding: 10px 20px;">Faculty</a>
            </li>
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-palette-2-light-1 u-text-white"
                href="{{url_for('main.about')}}" style="padding: 10px 20px;">About</a>
            </li>
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-palette-2-light-1 u-text-white"
                href="{{url_for('main.contact')}}" style="padding: 10px 20px;">Contact</a>
            </li>
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-palette-2-light-1 u-text-white"
                href="{{url_for('userLogin.user_auth')}}" style="padding: 10px 20px;">Login / SignUp</a>
            </li>
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{{url_for('main.index')}}">Home</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link"
                    href="{{url_for('main.faculty')}}">Faculty</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{{url_for('main.about')}}">About</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link"
                    href="{{url_for('main.contact')}}">Contact</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link"
                    href="{{url_for('userLogin.user_auth')}}">Login / SignUp</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div>
  </header>
  <section
    class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-black u-clearfix u-section-1"
    id="carousel_4103">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-1">Mr.Sarabjit An​and</h1>
      <img src="{{url_for('static',filename='images/anand-sir.jpg')}} "
        class="u-align-left u-image u-image-round u-left-0 u-radius-30 u-image-1" data-image-width="800"
        data-image-height="600">
      <div
        class="u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-radius-20 u-shape-round u-white u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <p class="u-align-center u-large-text u-text u-text-variant u-text-2"> IELTS, TOEFL and Business
            English.Corporate trainer, Overseas Education Consultants. I have a BBA from Lewis and Clark College,
            Portland, Oregon, USA. And scored 8.5 out of 9 in IELTS in 2003. We are an authorized registration center
            for IELTS for the British Council.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-custom-color-1 u-section-2" id="carousel_8fc3">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-white u-text-1">Reviews</h2>
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div
            class="u-align-left u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle u-list-item-1"
            data-animation-name="customAnimationIn" data-animation-duration="1250">
            <div class="u-container-layout u-similar-container u-container-layout-1"><span
                class="u-file-icon u-grey-40 u-icon u-icon-rounded u-radius-20 u-icon-1"><img
                  src="{{url_for('static',filename='images/686051.png')}} " alt=""></span>
              <h3 class="u-custom-font u-font-montserrat u-text u-text-default u-text-grey-40 u-text-2"
                data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                Education</h3>
              <p class="u-text u-text-3">
                <span style="font-size: 1.25rem;">Lewis and Clark College</span>
                <br>Bachelor of Business Administration (B.B.A.)
              </p>
            </div>
          </div>
          <div
            class="u-align-left u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle u-list-item-2"
            data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="0">
            <div class="u-container-layout u-similar-container u-container-layout-2"><span
                class="u-file-icon u-grey-40 u-icon u-icon-rounded u-radius-20 u-icon-2"><img
                  src="{{url_for('static',filename='images/2983706.png')}} " alt=""></span>
              <h3 class="u-custom-font u-font-montserrat u-text u-text-default u-text-grey-40 u-text-4"
                data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                Teaches</h3>
              <p class="u-text u-text-5">Career counselling for studies abroad<br>IELTS Coaching classes<br>TOEFL
                Coaching classes<br>Spoken English classes<br>TOEIC Coaching classes<br>PTE Academic Exam Coaching
                classes<br>SAT Coaching classes<br>GMAT Coaching classes<br>GRE Coaching classes
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-accordion u-expanded-width-xs u-spacing-2 u-accordion-1">
        <div class="u-accordion-item">
          <a class="active u-accordion-link u-border-1 u-border-active-grey-25 u-border-grey-30 u-border-hover-grey-30 u-border-no-left u-border-no-right u-border-no-top u-button-style u-grey-90 u-text-active-grey-40 u-text-hover-grey-40 u-text-white u-accordion-link-1"
            id="link-accordion-7c0e" aria-controls="accordion-7c0e" aria-selected="true">
            <span class="u-accordion-link-text">Mahir Gumber&nbsp;attended&nbsp;IELTS Coaching</span><span
              class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-3"><svg class="u-svg-link"
                preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-efea"></use>
              </svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-efea"
                style="enable-background:new 0 0 512 512;">
                <g>
                  <g>
                    <path
                      d="M509.121,125.966c-3.838-3.838-10.055-3.838-13.893,0L256.005,365.194L16.771,125.966c-3.838-3.838-10.055-3.838-13.893,0    c-3.838,3.838-3.838,10.055,0,13.893l246.18,246.175c1.842,1.842,4.337,2.878,6.947,2.878c2.61,0,5.104-1.036,6.946-2.878    l246.17-246.175C512.959,136.021,512.959,129.804,509.121,125.966z">
                    </path>
                  </g>
                </g>
              </svg></span>
          </a>
          <div class="u-accordion-active u-accordion-pane u-align-left u-container-style u-accordion-pane-1"
            id="accordion-7c0e" aria-labelledby="link-accordion-7c0e">
            <div class="u-container-layout u-valign-top u-container-layout-3">
              <p class="u-text u-text-6">Sarabjit Sir, captured and improved my English strengths and weaknesses with
                his high quality teaching and well-prepared materials. I'm so glad he helped me reach Band 7.5, and
                definitely recommend him to all IELTS candidates!” “Thank you for the guided practice and for checking
                my speaking recording. </p>
            </div>
          </div>
        </div>
        <div class="u-accordion-item">
          <a class="u-accordion-link u-border-1 u-border-active-grey-25 u-border-grey-30 u-border-hover-grey-30 u-border-no-left u-border-no-right u-border-no-top u-button-style u-grey-90 u-text-active-grey-40 u-text-hover-grey-40 u-text-white u-accordion-link-2"
            id="link-accordion-05cb" aria-controls="accordion-05cb" aria-selected="false">
            <span class="u-accordion-link-text"> Conroy&nbsp;attended&nbsp;PTE Academic Exam Coaching<br>
            </span><span class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-4"><svg class="u-svg-link"
                preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6ce4"></use>
              </svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-6ce4"
                style="enable-background:new 0 0 512 512;">
                <g>
                  <g>
                    <path
                      d="M509.121,125.966c-3.838-3.838-10.055-3.838-13.893,0L256.005,365.194L16.771,125.966c-3.838-3.838-10.055-3.838-13.893,0    c-3.838,3.838-3.838,10.055,0,13.893l246.18,246.175c1.842,1.842,4.337,2.878,6.947,2.878c2.61,0,5.104-1.036,6.946-2.878    l246.17-246.175C512.959,136.021,512.959,129.804,509.121,125.966z">
                    </path>
                  </g>
                </g>
              </svg></span>
          </a>
          <div class="u-accordion-pane u-align-left u-container-style u-accordion-pane-2" id="accordion-05cb"
            aria-labelledby="link-accordion-05cb">
            <div class="u-container-layout u-container-layout-4">
              <p class="u-text u-text-7"> Sarabjit helped me crack the PTE exam with an average score of 89 / 90. He is
                extremely knowledgeable and is able to motivate you to achieve greater heights. I truly enjoyed the
                coaching sessions and it helped me perform my best during the exam.</p>
            </div>
          </div>
        </div>
        <div class="u-accordion-item">
          <a class="u-accordion-link u-border-1 u-border-active-grey-25 u-border-grey-30 u-border-hover-grey-30 u-border-no-left u-border-no-right u-border-no-top u-button-style u-grey-90 u-text-active-grey-40 u-text-hover-grey-40 u-text-white u-accordion-link-3"
            id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
            <span class="u-accordion-link-text">Sandeep chordiya&nbsp;attended&nbsp;IELTS Coaching</span><span
              class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-5"><svg class="u-svg-link"
                preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4429"></use>
              </svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-4429"
                style="enable-background:new 0 0 512 512;">
                <g>
                  <g>
                    <path
                      d="M509.121,125.966c-3.838-3.838-10.055-3.838-13.893,0L256.005,365.194L16.771,125.966c-3.838-3.838-10.055-3.838-13.893,0    c-3.838,3.838-3.838,10.055,0,13.893l246.18,246.175c1.842,1.842,4.337,2.878,6.947,2.878c2.61,0,5.104-1.036,6.946-2.878    l246.17-246.175C512.959,136.021,512.959,129.804,509.121,125.966z">
                    </path>
                  </g>
                </g>
              </svg></span>
          </a>
          <div class="u-accordion-pane u-align-left u-container-style u-accordion-pane-3" id="accordion-a6bb"
            aria-labelledby="link-accordion-a6bb">
            <div class="u-container-layout u-container-layout-5">
              <p class="u-text u-text-8"> I have recently appeared for the IELTS exam and have scored an overall band
                score of 8.00 after a&nbsp;preparatory course with Sarabjit Anand sir. The course was very helpful as it
                provided me personal guidance and feedback on all the 4 sections which is essential to get a good band
                score.</p>
            </div>
          </div>
        </div>
      </div>

      <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-white u-text-9">Ask Questions</h2>
      <div class="u-expanded-width-xs u-form u-form-1">
        <form action="/faculty" method="POST" id="reviewQ"
          class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" name="reviewQ" style="padding: 10px;">
          <div class="u-form-group u-form-message">
            <label for="message-1951" class="u-label">Type your question</label>
            <textarea placeholder="Enter your question" rows="4" cols="50" id="message-1951" name="question"
              class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-30 u-white" required=""></textarea>
          </div>
          <div class="u-align-left u-form-group u-form-submit">
            <a href="{{url_for('main.faculty')}}" target="_self"
              class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-grey-40 u-radius-30 u-btn-1">Submit</a>
            <input onclick="questionPosted()" type="submit" value="submit" class="u-form-control-hidden">
          </div>
        </form>
      </div>
    </div>
  </section>

  {% if data.questions %}
  <section class="u-align-center u-black u-clearfix u-section-3" id="sec-1468">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-text u-text-default u-text-1">Q&amp;A</h2>
      <div class="u-accordion u-faq u-spacing-10 u-accordion-1">
        {% for key, value in data.questions.items() %}
        <div class="u-accordion-item">
          <a class="u-accordion-link u-active-grey-90 u-button-style u-grey-90 u-hover-grey-75 u-text-active-white u-text-body-alt-color u-accordion-link-3"
            id="link-accordion-854e" aria-controls="accordion-854e" aria-selected="false">
            <span class="u-accordion-link-text">{{key}}</span><span
              class="u-accordion-link-icon u-icon u-text-palette-1-light-2 u-icon-3"><svg class="u-svg-link"
                preserveAspectRatio="xMidYMin slice" viewBox="0 0 448 448" style="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7f79"></use>
              </svg><svg class="u-svg-content" viewBox="0 0 448 448" id="svg-7f79" style="">
                <path
                  d="m272 184c-4.417969 0-8-3.582031-8-8v-176h-80v176c0 4.417969-3.582031 8-8 8h-176v80h176c4.417969 0 8 3.582031 8 8v176h80v-176c0-4.417969 3.582031-8 8-8h176v-80zm0 0">
                </path>
              </svg></span>
          </a>
          <div class="u-accordion-pane u-container-style u-grey-80 u-accordion-pane-3" id="accordion-854e"
            aria-labelledby="link-accordion-854e">
            <div class="u-container-layout u-container-layout-3">
              <div class="u-clearfix u-rich-text u-text">
                <p>{{value}}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

  <footer class="u-black u-clearfix u-footer" id="sec-ee34">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-align-left u-social-icons u-spacing-10 u-social-icons-1">
        <a class="u-social-url" title="facebook" target="_blank" href=""><span
            class="u-icon u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link"
              preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d4da"></use>
            </svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-d4da">
              <circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle>
              <path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
            c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path>
            </svg></span>
        </a>
        <a class="u-social-url" title="twitter" target="_blank" href=""><span
            class="u-icon u-social-icon u-social-twitter u-icon-2"><svg class="u-svg-link"
              preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c521"></use>
            </svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-c521">
              <circle fill="currentColor" class="st0" cx="56.1" cy="56.1" r="55"></circle>
              <path fill="#FFFFFF" d="M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2
            c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1
            c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14
            c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4
            c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z"></path>
            </svg></span>
        </a>
        <a class="u-social-url" title="instagram" target="_blank" href=""><span
            class="u-icon u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link"
              preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3414"></use>
            </svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-3414">
              <circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle>
              <path fill="#FFFFFF"
                d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
            z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z">
              </path>
              <path fill="#FFFFFF"
                d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path>
              <path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
            C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
            c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path>
            </svg></span>
        </a>
        <a class="u-social-url" title="linkedin" target="_blank" href=""><span
            class="u-icon u-social-icon u-social-linkedin u-icon-4"><svg class="u-svg-link"
              preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-27af"></use>
            </svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-27af">
              <circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle>
              <path fill="#FFFFFF" d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
            C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
            H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"></path>
            </svg></span>
        </a>
      </div>
      <h5 style="float: right;">
        ©2022 Life Overseas, All Rights Reserved.
      </h5>
    </div>
  </footer>

</body>


</html>