<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Admin-Panel.css') }}" media="screen">
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180"
    href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32"
    href="{{ url_for('static', filename='images/favicon/favicon-32x32.pn') }}">
  <link rel="icon" type="image/png" sizes="16x16"
    href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}">
  <!-- script -->
  <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"
    defer=""></script>
  <link id=" u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">




  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Life Overseas",
		"logo": "/static/images/825406866-0.png",
		"sameAs": []
}</script>
  <meta name="theme-color" content="#8aa6c1">
  <meta property="og:title" content="Admin Panel">
  <meta property="og:description" content="">
  <meta property="og:type" content="website">
</head>



</body>

</html>