<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life Overseas | Auth</title>


    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='images/favicon/favicon-32x32.pn') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login/card_login.css') }}" media="screen">







    <script type=" application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Life Overseas",
		"logo": "{{url_for('static',filename='images/825406866-0.png')}} ",
		"sameAs": []
}</script>
    <meta name="theme-color" content="#8aa6c1">
    <meta property="og:title" content="Life Overseas - Auth">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        font-family: 'Jost', sans-serif;
        background: linear-gradient(to bottom, #0f0c29, rgb(26, 20, 20), black);
    }

    .main {
        width: 400px;
        height: 550px;
    }
</style>

<body>

    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form method="POST" action="{{url_for('userLogin.user_signup')}}">
                <label for="chk" aria-hidden="true">Create an account with as.</label>
                <input type="email" name="email" placeholder="Enter your email" required="">
                <input type="password" id="pass" name="pass" placeholder="Enter your password" required="">
                <input type="password" id="confirmpass" name="passAgain" placeholder="Confirm your password" required="">
                <button onclick="">Sign up</button>
            </form>
        </div>

        <div class="login">
            <form method="POST" action="{{url_for('userLogin.user_signin')}}">
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" name="email" placeholder="Enter Email" required="">
                <input type="password" name="pass" placeholder="Enter Password" required="">

                <button>Login</button>
            </form>
            <a style="color: red; margin-left: 100pt ;" href="{{url_for('userLogin.forgot_pass')}} ">Forgot password</a>
        </div>
    </div>


</body>
<script>

    // return a pop if error occured
    var status = "{{status}}"

    if (status=='error_signup'){
        toastr.error("error occured");
    }
    
    // checking if both password are some or not
    function check_password(){
        var pass = document.querySelector('#pass');
        var confirmpass = document.querySelector('#confirmpass');
        if (pass == confirmpass){
            // send post request
        }else{
            // prompt pop up to recheck password
        }
    }

</script>

</html>